Source: beret
Section: games
Priority: optional
Maintainer: Jacob Adams <tookmund@gmail.com>
Build-Depends: debhelper (>= 9), libsdl1.2-dev,libsdl-image1.2-dev,libsdl-mixer1.2-dev,libsdl-ttf2.0-dev
Standards-Version: 3.9.6
Homepage: https://gitorious.org/beret/beret/

Package: beret
Architecture: any
Depends: beret-data, ${shlibs:Depends}, ${misc:Depends}, libsdl1.2debian,libsdl-image1.2,libsdl-mixer1.2,libsdl-ttf2.0-0
Description: Adventures of a telekinetic scientist
 Beret is a 2D puzzle-platformer game about a scientist named Beret who has 
 gained telekinetic abilities through his research at the Evil Corporation. 
 He decides that the Evil Corporation is too evil for his liking, and begins 
 his solitary quest to overthrow the corporation and punish the evil deeds of 
 his employers.

Package: beret-data
Architecture: all
Depends: ${misc:Depends}, fonts-averia
Description: Data for Beret, the adventures of a telekinetic scientist
 Beret is a 2D puzzle-platformer game about a scientist named Beret who has 
 gained telekinetic abilities through his research at the Evil Corporation. 
 He decides that the Evil Corporation is too evil for his liking, and begins 
 his solitary quest to overthrow the corporation and punish the evil deeds of 
 his employers.
 This package provides the data files for beret

Package: fonts-averia
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Averia TrueType Font
 The Averia font. 
 It is designed to be an "average" font, designed by averaging all the fonts 
 the author could find. 
   
